<%- include('../partial/header') -%>
<link rel="stylesheet" href="/css/products/create.css">

<div class="main-content">

    <form class="form-basic" method="post" action="#">

        <div class="form-title-row">
            <h1>Offline Payment</h1>
        </div>

        <div class="form-row">
            <label>
                <span>Name of Bank:</span>
                <input type="text" name="name">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>Payment amount:</span>
                <input type="number" placeholder="" name="payAmount">
            </label>
        </div>


        <div class="form-row">
            <label>
                <span>Massage</span>
                <textarea name="msg"></textarea>
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>Payment proof</span>
                <input type="file" name="proof">
            </label>
        </div>


        <div class="form-row">
            <button type="submit">Upload proof</button>
        </div>
    </form>
</div>

<%- include('../partial/footer') -%>