<%- include('./partial/header') -%>
<link rel="stylesheet" href="css/home/home.css">

  <!-- Hero -->
  <img src="img/home/farmerHero.png" alt="" class="hero-img" />

  <div class="hero-content">
    <h2><span class="the"></span> THE</h2>
    <h1>
      <span>FARMERS</span>
      <span>PORTAL</span>
    </h1>
    <a class="btn" href="#featured">explore now</a>
  </div>
  </header>

  <!--Latest -->

  <section id="featured" class="section featured">
    <div class="title">
      <h1>Latest Products</h1>
    </div>


    <div class="product-center container">
      <% for(let i=0;i<8;i++){ %>
        <div class="product">
          <div class="product-header">
            <img src="img/account/logo.jpeg">

            <ul class="icons">
              <span><i class="bx bx-heart"></i></span>
            </ul>
          </div>
          <div class="product-footer">
            <a href="#">
              <h3>Product</h3>
            </a>
            <h4 class="price">50</h4>
          </div>
        </div>
        <% } %>

    </div>
  </section>

  <!-- Testimonials -->
  <section id="thought" class="section">
    <div class="testimonial-center container">
      <div class="testimonial">
        <span>&ldquo;</span>
        <p>
          मोहित इस or sit, amet consectetur adipisicing elit. Debitis,
          fugiat labore. Veritatis et omnis consequatur.
        </p>
        <div class="rating">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bx-star"></i>
        </div>
        <div class="img-cover">
          <img src="img/account/logo.jpegg" alt="" />
        </div>
        <h4>user name</h4>
      </div>
      <div class="testimonial">
        <span>&ldquo;</span>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis,
          fugiat labore. Veritatis et omnis consequatur.
        </p>
        <div class="rating">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bx-star"></i>
        </div>
        <div class="img-cover">
          <img src="img/account/logo.jpegg" alt="" />
        </div>
        <h4>user name</h4>
      </div>
      <div class="testimonial">
        <span>&ldquo;</span>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis,
          fugiat labore. Veritatis et omnis consequatur.
        </p>
        <div class="rating">
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bxs-star"></i>
          <i class="bx bx-star"></i>
        </div>
        <div class="img-cover">
          <img src="img/account/logo.jpegg" alt="" />
        </div>
        <h4>user name</h4>
      </div>
    </div>
  </section>


  <%- include('./partial/footer') -%>