*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: antiquewhite;
}
input{
    width: 60vw;
    height: 20px;
    padding: 5px;
    margin: 10px;
    border: 2px solid #6558f5;
    border-radius: 5px;
    font-weight: bold;
}
button{
    width: 90vw;
    height: 30px;
    background-color: #b2acfa;
    font-weight: bolder;
}
.action{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}
.login-link {
    width: 50%;
    color: #1f1775;
    background-color: #b2acfa;
    border: 2px solid black;
    text-align: center;
}
.signup-link {
    width: 50%;
    border: 2px solid black;
    text-align: center;
}
/*  */
#container{
    height: 98vh;
    width: 98vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 60px 10px 10px 10px;
}
#container img{
    width: 25px;

}
#container form div{
margin: 20px;
}

@media only screen and (min-width: 650px){
    body{
        text-align: center;
    }
    .action{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px;
    }
    .login-link {
        width: 20%;
        color: #1f1775;
        background-color: #b2acfa;
        border: 2px solid black;
        text-align: center;
    }
    .signup-link {
        width: 20%;
        border: 2px solid black;
        text-align: center;
    }
    #container{
        width:60%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 20% 0px 20%;
        padding: 0px;
    }
    input{
        width: 100%;
        padding: 5px;
        margin: 10px;
        border: 2px solid #6558f5;
        border-radius: 5px;
        font-weight: bold;
    }
    button{
        width: 50%;
        background-color: #b2acfa;
        font-weight: bolder;
    }
    #container form{
        width: 80%;
    }
    #container form div{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        }
}