<%- include('../partial/header') -%>
<link rel="stylesheet" href="/css/products/create.css">

<div class="main-content">

    <!-- You only need this form and the form-basic.css -->

    <form class="form-basic" method="post" enctype="multipart/form-data" action="/products/create">

        <div class="form-title-row">
            <h1>Create Product</h1>
        </div>

        <div class="form-row">
            <label>
                <span>Name of Product:</span>
                <input type="text" name="name">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>Availabel Quntity:</span>
                <input type="number" name="available">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>Price per KG(in ₹):</span>
                <input type="number" name="price">
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>Details</span>
                <textarea name="details"></textarea>
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>Upload Images</span>
                <input type="file" id="files" placeholder="Choose Images" name="multiFile" multiple>
            </label>
        </div>
        <input type="hidden" name="userId" value="<%= currUser._id %>">

        <div class="form-row">
            <button type="submit">Add Product</button>
        </div>

    </form>

</div>

<%- include('../partial/footer') -%>