:root {
    --white: #fff;
    --black: #222;
    --pink: #f60091;
    --grey: #444;
    --grey2: #959595;
    --grey-alt: #aae0db;
    --yellow: #ffd800;
    --green: #59b210;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  /* Hero */
  .header .hero-img {
    position: absolute;
    bottom: -10%;
    right: -5%;
    height: 70rem;
    object-fit: contain;
  }

  .hero-content {
    position: absolute;
    top: 50%;
    transform: translate(25%, -50%);
  }

  .hero-content h2 {
    color: #b888ff;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .hero-content .the {
    color: #fbb419;
  }

  .hero-content h1 span {
    color: #253b70;
    font-size: 6rem;
    font-weight: 700;
    display: block;
    line-height: 1;
    text-shadow: 3px 3px 0 #f1f1f1, 4px 4px 0 #f1f1f1;
  }

  .btn {
    display: inline-block;
    background-color: #fc7c7c;
    padding: 1.2rem 4rem;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 3rem;
  }

  @media only screen and (max-width: 1200px) {
    .header .hero-img {
      right: -20%;
    }

    .hero-content {
      transform: translate(20%, -50%);
    }

    .hero-content h2 {
      font-size: 2rem;
    }

    .hero-content h1 span {
      font-size: 5rem;
    }
  }

  @media only screen and (max-width: 996px) {
    .header {
      min-height: 70vh;
    }

    .header .hero-img {
      height: 40rem;
      right: -10%;
    }
  }

  @media only screen and (max-width: 567px) {
    .header {
      min-height: 100vh;
    }

    .header .hero-img {
      height: 40rem;
      bottom: -15%;
    }

    .hero-content {
      top: 40%;
      transform: translate(15%, -50%);
    }

    .header .hero-img {
      right: 0%;
    }

    .hero-content h2 {
      font-size: 1.8rem;
    }

    .hero-content h1 span {
      font-size: 4rem;
    }

    .hero-content a {
      padding: 1rem 3rem;
    }
  }

  /* Adverts */
  .section {
    padding: 10rem 0 5rem 0;
  }

  .advert-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
  }

  .advert-box {
    position: relative;
    color: #fff;
    height: 27rem;
    border-radius: 1rem;
    padding: 1.6rem;
    overflow: hidden;
    z-index: 1;
  }

  .advert-box img {
    position: absolute;
    bottom: 0%;
    left: -20%;
    height: 100%;
    width: 35rem;
    z-index: -1;
  }

  .advert-box:nth-child(1) {
    background-color: #f5c5d1;
  }

  .advert-box:nth-child(2) {
    background-color: #a1d1df;
  }

  .advert-box:nth-child(3) {
    background-color: #e5bc00;
  }

  .advert-box .dotted {
    position: relative;
    height: 100%;
    border: 2px dashed #f1f1f1;
    border-radius: 1rem;
  }

  .advert-box .content {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
  }

  .advert-box .content h2,
  .advert-box .content h4 {
    text-shadow: 5px 6px 0px rgba(37, 59, 112, 0.1);
  }

  .advert-box .content h2 {
    line-height: 1.2;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .advert-box .content h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
  }

  /* Featured Products */

  .title {
    margin: 4rem 0 7rem 0;
    text-align: center;
  }

  .title h1 {
    font-size: 3rem;
    display: inline-block;
    position: relative;
    z-index: 0;
  }

  .title h1::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translate(-50%, -50%);
    background-color: var(--pink);
    width: 50%;
    height: 0.4rem;
    z-index: 1;
  }

  /* Product */
  .product-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 7rem 3rem;
  }

  .product {
    height: 48rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    text-align: center;
    transition: all 300ms ease-in-out;
  }

  .product:hover {
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
  }

  .product-header {
    position: relative;
    height: 35rem;
    background-color: #f6f2f1;
    transition: all 300ms ease-in-out;
    z-index: 0;
  }

  .product-header img {
    height: 100%;
  }

  .product-footer {
    padding: 2rem 1.6rem 1.6rem 1.6rem;
  }

  .product-footer h3 {
    font-size: 2.2rem;
  }



  .product-footer .price {
    color: #ff7c9c;
    font-size: 2rem;
  }

  .product:hover .product-header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 1rem 1rem 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease-in-out;
    z-index: 1;
  }

  .product-header .icons {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%) scale(0);
    z-index: 2;
    opacity: 0;
    transition: all 500ms ease-in-out;
  }

  .product-header .icons span {
    background-color: #fff;
    font-size: 2.5rem;
    display: block;
    border-radius: 50%;
    padding: 1.5rem 1.6rem;
    line-height: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }

  .product-header .icons span i {
    transition: all 500ms ease-in-out;
  }

  .product-header .icons span:not(:last-child) {
    margin-bottom: 1rem;
  }

  .product-header .icons span:hover {
    background-color: #ff7c9c;
    color: #fff;
  }

  .product:hover .icons {
    opacity: 1;
    transform: translate(0, -50%) scale(1);
  }

  .product-header .icons a {
    display: block;
    margin-bottom: 1rem;
  }

  /* Exclusive Product */

  /* Testimonials */
  .testimonial-center {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 6rem;
  }

  .testimonial {
    position: relative;
    padding: 5rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    transition: all 300ms ease-in-out;
    text-align: center;
    border-radius: 0.5rem;
  }

  .testimonial:hover {
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
    transform: translateY(-1rem);
  }

  .testimonial span {
    position: absolute;
    top: 2%;
    left: 50%;
    font-size: 12rem;
    font-family: sans-serif;
    color: #ff7c9c;
    line-height: 1;
    transform: translate(-50%, 0);
  }

  .testimonial p {
    margin: 2rem 0 1rem 0;
  }

  .testimonial {
    margin-bottom: 1rem;
  }

  .testimonial .img-cover {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    margin: 0 auto;
  }

  .testimonial .img-cover img {
    height: 100%;
    object-fit: cover;
  }

  .testimonial h4 {
    margin-top: 1rem;
  }

  /* All Products */
  .section .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
  }

  .all-products .top select {
    font-family: "Poppins", sans-serif;
    width: 20rem;
    padding: 1rem;
    border: 1px solid #ccc;
    appearance: none;
    outline: none;
  }

  form {
    position: relative;
    z-index: 1;
  }

  form span {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2rem;
    z-index: 0;
  }

  @media only screen and (max-width: 768px) {
    .all-products .top select {
      width: 15rem;
    }
  }