<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/account/logo.jpeg" type="image/x-icon">
    <!-- Box icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <title>The Farmer Portal</title>
    <link rel="stylesheet" href="/css/partial/mainPar.css">
</head>

<body>
    <!-- Header -->
    <header id="home" class="header">
        <!-- Navigation -->
        <nav class="nav">
            <div class="navigation container">
                <div class="logo">
                    <h1>THE FARMERS PORTAL</h1>
                </div>

                <div class="menu">
                    <div class="top-nav">
                        <div class="logo">
                            <h1>THE FARMERS PORTAL</h1>
                        </div>
                        <div class="close">
                            <i class="bx bx-x"></i>
                        </div>
                    </div>

                    <ul class="nav-list">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/products/all" class="nav-link">Products</a>
                        </li>
                        <li class="nav-item">
                            <a href="/farmers" class="nav-link">Farmers</a>
                        </li>
                        <li class="nav-item">
                            <a href="/about" class="nav-link">About</a>
                        </li>
                        <% if(currUser){ %>
                            <li class="nav-item">
                                <a href="/profile" class="nav-link icon"><i class="fas fa-user"></i></a>
                            </li>


                            <% } else { %>
                                <li class="nav-item">
                                    <a href="/login" class="nav-link">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/signUp" class="nav-link">Sign Up</a>
                                </li>
                                <% } %>


                    </ul>
                </div>

                <a href="/profile" class="cart-icon">
                    <i class="fas fa-user"></i>
                </a>

                <div class="hamburger">
                    <i class="bx bx-menu"></i>
                </div>
            </div>
        </nav>