<link rel="stylesheet" href="/css/partial/massages.css">
<% if(success_msg && success_msg != ''){ %>
    <div class="success-msg"><%= success_msg %></div>
<% }else if(error_msg && error_msg != ''){ %>
    <div class="error-msg"><%= error_msg %></div>
<% } %>

<% if(error && error != ''){ %>
    <div class="error-msg"><%= error %></div>
<% } %>