<%- include('../partial/header') -%>
<link rel="stylesheet" href="/css/home/about.css">

<div class="contant-about">
    A farmers' market is a physical retail marketplace intended to sell foods directly by farmers to consumers.

<img src="/img/about/about4.jpg" alt="about1">
                According to this study by NOFA, comparisons of conventionally raised produce — on average — are priced the same at supermarkets and farmers markets alike. ... Turns out farmers' markets are actually cheaper (again, on average) than at the grocery store.

          And it will be beneficial for farmer as well as consumers because consumers have cheaper rate ,high protein , minerals ,etc and fresh product,less containing product .And  this things are best for the our health. <br>

          <img src="/img/about/about2.jpg" alt="about1">
          <img src="/img/about/about3.jpg" alt="about1">
  Farmers markets also implement guidelines and operating rules that ensure the farmers market consists principally of farms selling directly to the public products that the farms have produced. In order to protect both farmers and consumers, some states have even established their own formal definitions which specify market characteristics in more detail
      Farmers markets facilitate
personal connections and bonds of mutual benefits between farmers, shoppers, and communities. By cutting out middlemen, farmers receive more our food dollars and shoppers receive the freshest and most flavorful food in their area and local economies prosper. <br>

             Farmers markets also implement guidelines and operating rules that ensure the farmers market consists principally of farms selling directly to the public products that the farms have produced. In order to protect both farmers and consumers, some states have even established their own formal definitions which specify this type market characteristics in more detail. <br>

            The number of farmers markets in the United States has grown rapidly in recent years, from just under 2,000 in 1994 to more than 8,600 markets currently registered in the USDA .
            <img src="/img/about/about1.jpg" alt="about1">

</div>



<%- include('../partial/footer') -%>